{% extends 'base.html' %}

{% block name %}О нас{% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">

    <body style="background-color: rgba(255, 255, 255, 0.5);">

        <div class="rounded-5 bg-overlay">
            <div class="container-fluid py-5" style="opacity: 1;">
                <h1 class="display-5 fw-bold text-center">Для чего был создан этот сайт?</h1>
                <p class="fs-4 text-center">Этот сайт создан для помощи людям, которые потеряли своего
                    домашнего питомца. При
                    регистрации, которая займет не больше двух минут, возможно добавление объявления. Также, если Вы нашли
                    бездомную кошку, собаку или любого другого питомца и хотите ему помочь, во вкладке контакты можно найти номера телефонов
                    ветеринарных клиник.</p>
                <hr>
		    </div>
		</div>
		<div class="rounded-5 bg-overlay">
            <div class="container-fluid py-5" style="opacity: 1; text-center">
                <h2 class="display-5 text-center">Правила сайта</h2>
                <p class="col-md-8 fs-4">1. Запрещено размещение объявлений о продаже животных.</p>
                <p class="col-md-8 fs-4">2. Просим вас указывать достоверные данные при регистрации и создании
                    объявлений.</p>
                <p class="col-md-8 fs-4">3. Любая дискриминация, насилие, разжигание ненависти или оскорбления в комментариях и объявлениях
                    запрещены.</p>
                <p class="col-md-8 fs-4">4. Пожалуйста, будьте внимательны и ответственны при обращении с животными.</p>

                <h2 class="text-center display-5">Как пользоваться сайтом?</h2>
                <p class="col-md-8 fs-4">1. Чтобы добавить объявление, необходимо зарегистрироваться на сайте.</p>
                <p class="col-md-8 fs-4">2. После регистрации Вам будет доступна функция добавления объявления. Заполните
                    необходимые поля и нажмите кнопку "Добавить объявление".</p>
                <p class="col-md-8 fs-4">3. Если Вы нашли бездомное животное и хотите ему помочь, обратитесь в ветеринарную клинику, 
				    номера и адреса которых находятся во вкладке "Контакты и адреса".</p>
				<p class="col-md-8 fs-4">4. Забыли пароль, есть другие вопросы и предложения или Ваше объявление пропало? Воспользуйтесь кнопкой "Помощь", 
				которая находится в правом нижнем углу сайта для связи с администратором, указав суть Вашего обращения и почту, привязанную к аккаунту на сайте.</p>
				<p class="col-md-8 fs-4">5. Наш девиз: "Мы в ответе за тех, кого приручили"
				<br>&copy; А. Сент-Экзюпери</p>
            </div>
        </div>

    </body>
{% endblock %}
