{% extends 'base.html' %}

{% block content %}

  {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
<body style="background-color: rgba(255, 255, 255, 0.5);">

    <div class="p-5 mb-4  rounded-3 bg-overlay">
        <div class="container-fluid py-5" style="opacity: 1;">
		  <h2>Новое объявление</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="title">Кличка:</label>
    <input type="text" name="title" id="title" required><br><br>
    
    <label for="content">Дополнительная информация о питомце:</label>
    <textarea name="content" id="content"></textarea><br><br>

    <label for="photo">Добавить фотографию:</label>
    <input type="file" name="photo" id="photo" required><br><br>
    <label for="cat">Категория:</label>
    <select style="width: 100px;" name="cat" id="cat" required>
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select><br><br>

    <label for="toa">Вид животного:</label>
    <select style="width: 100px;" name="toa" id="toa" required>
      {% for category in type_of_animals %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select><br><br>

    <input type="submit" value="Add Pet">
  </form>
          </div>
    </div>
{% endblock %}
