{% extends "base.html" %}

{% block content %}
 {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
<body style="background-color: rgba(255, 255, 255, 0.5);">

    <div class="p-5 mb-4  rounded-3 bg-overlay text-center">
        <div class="container-fluid py-5" style="opacity: 2;">
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.old_password.id_for_label }}">Старый пароль:</label>
      {{ form.old_password }}
    </div>
    <div class="form-group">
      <label for="{{ form.new_password1.id_for_label }}">Новый пароль:</label>
      {{ form.new_password1 }}
    </div>
    <div class="form-group">
      <label for="{{ form.new_password2.id_for_label }}">Повторите новый пароль:</label>
      {{ form.new_password2 }}
    </div>
    <input type="submit" class="btn btn-primary" value="Сменить пароль">
  </form>
</div>
</div>
{% endblock %}
