{% extends 'base.html' %}

{% block name %}Контакты{% endblock %}

{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
  <div class="bg-overlay">
    <div class="container-fluid py-5" >
      <h1 class="display-5 fw-bold text-center">Контакты и адреса ветеринарных клиник в городе Красноярск</h1>
        <div id="map" style="width: 100%; height: 20px;"></div>
		
      <script src="https://api-maps.yandex.ru/2.1/?apikey=ae232ec8-e420-4b57-bedf-dde5537783fc&lang=ru_RU" type="text/javascript"></script>
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae11ba3e9062c50ed3f185e40c6737cd1075c4a7eb4a04adc0eb9f692f775ad78&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
  </div>
{% endblock %}
