{% extends 'base.html' %}
{% block name %}Помощь{% endblock %}
{% block content %}
{% load static %}
<form method="post" action="{% url 'help' %}">
    {% csrf_token %}
    <label for="problem_text">Опишите вашу проблему:</label>
    <textarea name="problem_text" id="problem_text" rows="4" cols="50" required></textarea><br><br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br><br>

    <!-- Код для простой капчи -->
	<input name="captcha_value_new" value="">
    
    <p>Введите значение капчи:  </p>
    <input type="text" name="captcha_value" value="{{ captcha_value }}" readonly>

    <input type="submit" value="Отправить">
</form>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}