{% extends 'base.html' %}
{% block name %}Помощь{% endblock %}
{% block content %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
<body style="background-color: rgba(255, 255, 255, 0.5);">

    <div class="p-5 mb-4  rounded-3 bg-overlay text-center">
        <div class="container-fluid py-5" style="opacity: 2;">
<form method="post" action="{% url 'help' %}">
    {% csrf_token %}
    <label for="problem_text">Опишите вашу проблему:</label>
    <textarea name="problem_text" id="problem_text" rows="4" cols="50" required></textarea><br><br>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br><br>

    <!-- Код для простой капчи -->
	<input name="captcha_value_new" value="">
    
    <p>Введите значение капчи:  </p>
    <input type="text" name="captcha_value" value="{{ captcha_value }}" readonly>

    <input type="submit" value="Отправить">
</form>
 
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
       </div>
    </div>