{% extends "base.html" %}

{% block content %}
<!--new-->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
<body style="background-color: rgba(255, 255, 255, 0.5);">

    <div class="p-5 mb-4  rounded-3 bg-overlay text-center">
        <div class="container-fluid py-5" style="opacity: 2;">
		<!--new-->
<h1>{{title}}</h1>

<form method="post">
    {% csrf_token %}

{% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit">Зарегистрироваться</button>
</form>
        </div>
    </div>
{% endblock %}
