{% extends "base.html" %}

{% block content %}
<!--подгружаем статику-->
 {% load static %}
  <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
  <!--подгружаем статику-->
  <div class="bg-overlay">
    <div class="container-fluid py-5" >
<form method='POST'>
  {% csrf_token %}
  <label for='list1'>Выберите тип объявлений:</label>
  <select id='list1' name='list1'>
      {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
  </select>
  <br><br>
  <label for='list2'>Выберите вид животного:</label>
  <select id='list2' name='list2'>
      {% for category in type_of_animals %}
        <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
  </select>
  <br><br>
  <button type='submit'>Отсортировать</button>
</form>
   </div>
  </div>
<!-- поменял внешку -->
  <h1 style="background-color:#212529;border-radius: 5px; margin-top:20px ;color :#fff;padding: 20; width: auto;" >Результаты поиска</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> 
    
    {% for person in persons %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/custom-styles.css' %}">
<body style="background-color: rgba(255, 255, 255, 0.5);">

    <div class="p-5 mb-4  rounded-3 bg-overlay">
	<div class="container-fluid py-5" style="opacity: 1;">
<div class="col">
          <div class="card shadow-sm">
            <img src="../media/{{ person.photo }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <div class="card-body">
              <p class="card-text"><h1>{{ person.title }}</h1>
                          <h3>{{ person.cat }}</h3>
                        {{ person.content }}<h5 >пользователь : id{{ person.id_user }}</h5></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/users/get_post/{{ person.id }}"><button type="button" class="btn btn-sm btn-outline-secondary">смотреть</button></a>
                  
                </div>
                <small class="text-body-secondary">{{ person.time_create }}</small>
              </div>
            </div>
          </div>
          </div>
        </div>
    </div>

    {% endfor %}
   
</div>
{% endblock %}
{% block name %}о нас {% endblock %}



